# Node
node_modules/
/dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Angular
.angular/
frontend/dist/

# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Local settings
local.settings.json
**/local.settings.json
.env

# Azurite local storage emulator
__azurite_db_*.json
__blobstorage__/
__queuestorage__/
AzuriteConfig

# VS Code
.vscode/
